<html>

<head>
    <title>Konfirmasi Hapus Pengaduan</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body>
    <h1>Hapus Pengaduan</h1>
    <p>Apakah Anda yakin ingin menghapus pengaduan:
        <strong>{{ object.judul }}</strong>
        yang dilaporkan oleh
        <strong>{{ object.pelapor.nama_lengkap }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Ya, Hapus</button>
        <a href="{% url 'pengaduan-list' %}">Batal</a>
    </form>
</body>

</html>